<h1>New Capsule</h1>

<script>
	$("#add").on("click", function() {
		$("#item_form").append($("#no_display").html());
	});
</script>

<%= form_for @capsule, :url => { :action => "create" } do |f| %>
	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :description %><br />
		<%= f.text_area :description %>
	</p>
	<button id = "add">Add Item</button>
	<div id = "item_form"></div>
	<div id = "no_display" style = "display: none;">
		<%= form_for @item do |i| %>
			<p>
				<%= i.label :file %>
				<%= i.file_field :file %>
				<%= i.label :title %>
				<%= i.text_field :title %>
				<%= i.label :description %>
				<%= i.text_area :description %>
			</p>
		<% end %>
	</div>
	<p>
		<%= f.label :unlock %><br />
		<%= f.date_select :unlock %>
	</p>
	<%= f.submit "Submit" %>
<% end %>

<br />
<%= link_to "Back", capsules_path %>